@charset "utf-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: Lato;
}

.Raleway {
  font-family: Raleway;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header-inner {
  box-sizing: border-box;
  padding: 15px;
}

.fa-bolt {
  font-weight: 900;
  font-size: 40px;
}

.contact-btn {
  background-color: #74cfae;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 500;
  float: right;
  padding: 14px 12px;
  text-decoration: none;
  transition: 0.3s;
}

.contact-btn:hover {
  color: #333;
}

.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
}

.main-theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.theme-text {
  color: #c0c0c0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.text-content {
  background-color: #74cfae;
}

.text-content-inner {
  box-sizing: border-box;
  padding-top: 50px;
  position: relative;
}

.text-flexbox {
  display: flex;
  justify-content: space-around;
}

.text-area {
  width: 680px;
}

.main_text {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
}

.sub_text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 35px;
  text-align: center;
}

.work-content {
  background-color: #f2f2f2;
}

.work-content-inner {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 70px;
}

.work-content-title {
  color: #4e4e4e;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}

.work-img {
  cursor: pointer;
  display: block;
  float: left;
  opacity: 0.7;
  margin-left: 100px;
  /* margin-top: 80px; */
  margin-bottom: 80px;
  transition: 0.3s;
}

.work-img:hover {
  opacity: 1.0;
}

.work-img:nth-child(3n+1) {
  margin-left: 0;
}

/* .work-img:not(:nth-child(n+4)) {
  margin-top: 0;
} */
.work-img:nth-child(n+4) {
  margin-bottom: 0;
}

.work-content-bottom {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 90px;
}

.work-content-text {
  color: #4e4e4e;
  font-weight: 300;
  padding-right: 90px;
  text-align: center;
}

.mail-container {
  display: table-cell;
  vertical-align: middle;
}

.mail-btn {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  padding: 14px 20px;
  transition: 0.3s;
  text-decoration: none;
}

.mail-btn:hover {
  color: #333;
}

.skill-content {
  background-color: #4e4e4e;
}

.skill-content-inner {
  box-sizing: border-box;
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill-theme {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.skill-container {
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
}

.skill-image {
  display: inline-block;
  margin-left: 180px;
  text-align: center;
}

.skill-image:first-child{
  margin-left: 0;
}

.circle {
  display: block;
  margin-bottom: 30px;
}

.skill-name {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.sns-navigation {
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.icon-table {
  width: 740px;
  margin: auto;
}

.icon-btn {
  float: left;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 185px;
  text-align: center;
  transition: 0.3s;
}

.icon-btn:hover {
  background-color: #fff;
}

.icon {
  color: #74cfae;
  font-weight: 900;
  font-size: 40px;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-text {
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 500;
  text-align: end;
}


@media screen and (max-width:1199px) {
  .inner{
    width: 97%;
  }

  .text-content-inner {
    display: block;
    padding-top: 50px;
    padding-bottom: 25px;
    /* height: 100%; */
  }

  .text-flexbox {
    display: block;
  }

  .iphone-image {
    display: block;
    margin: 0 auto;
  }

  .text-area {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
  }

  .work-img {
    float: none;
    font-size: 0;
    text-align: center;
    margin: 0;
  }

  .work-img:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-content-bottom {
    width: 100%;
    margin-top: 80px;
  }

  .work-content-text {
    display: block;
    width: 100%;
    padding: 0;
  }

  .mail-container {
    display: block;
  }

  .mail-btn {
    text-align: center;
  }

}

@media screen and (max-width: 767px) {
}